.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
  gap: 20px; /* Space between products */
  margin-top: 40px;
}

.product-container {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff; /* Background color for better visibility */
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 15px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
}

.add-to-cart-button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #218838;
}

.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  opacity: 0;
}

.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
}

@media (max-width: 900px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medium screens */
  }
}

@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: 1fr; /* 1 column for small screens */
  }
}


.grocery-footer {
  background-color: #232F3E;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom {
  margin-top: 20px;
}
